body {
  padding-top: 50px;
}

textarea {
    resize: none;
}

a:not([href]):not([tabindex]) {
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}

a:not([href]):not([tabindex]):hover {
    text-decoration: underline;
}

a:not([href]):not([tabindex]).edit {
    color: #bc9c43;
    text-decoration: none;
}

a.rm {
    color: #a94442;
    text-decoration: none;
}
