{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% if user and not user.is_anonymous %}
        <div class="col-md-12">
            <b>Вошли как: {{ user.get_full_name }}</b>
            ( <a href="{% url 'auth:logout' %}?next={{ request.path }}"
                   class="">Выйти</a> )
        </div>
    </div>
    <div class="row">
        <!-- Form -->
        <div class="col-md-12" id="form_origin">
            <form action="{% url 'add_comment' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.text.errors }}
                <div class="col-md-10">
                    <textarea class="form-control" placeholder="{{ form.text.label }}"
                              id="id_{{ form.text.name }}" name="{{ form.text.name }}"
                              rows="5" required></textarea>
                </div>
                <input type="hidden" name="id" value="">
                <input type="hidden" name="parent" value="">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                    <button type="button" class="btn btn-danger m-t-2" id="cancel_btn"
                            style="display: none;">Отменить</button>
                </div>
            </div>
            </form>
        </div>
        {% else %}
        <!-- Login -->
        <h3 class="text-md-center">
            Для добавления и комментирования сообщений выполните <a href="{% url 'login' %}">вход</a>!
        </h3>
        {% endif %}
    </div>
    <div class="row">
    <div class="container m-t-3">
        <div class="card">
            <div class="card-header">
                Сообщения
                [ <a id="expand-all" data-expanded="0">Показать все</a> ]
            </div>
            <div class="card-body">
            {% load mptt_tags %}
            <div class="treeview">
                <ul>
                    {% recursetree nodes %}
                        <li>
                            <div class="row">
                                <span class="date">({{ node.date }})</span>
                                <span class="text">{{ node.text }}</span>
                                {% if user and not user.is_anonymous %}
                                <a class="comment" data-comment="{{ node.id }}">Ответить</a>
                                {% if user.id == node.user.id %}
                                <a class="edit fa fa-edit" data-comment="{{ node.id }}"></a>
                                <a class="rm fa fa-remove"
                                href="{% url 'rm_comment' %}?id={{ node.id }}"></a>
                                {% endif %}
                                {% endif %}
                            </div>
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}
                </ul>
            </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}